
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
}


h3 {
  font-size: 35px;
  margin-bottom: 15px;
  border-bottom-style: solid;
  border-color:#ffc82e ;
  text-align: center;

}

.errMsg{
  color: red;
  font-size: small;
  margin-left: 15px;
}

.formCentre input, .formCentre textarea {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border-color:#cccccc ;
  border-style: solid;
  margin-left: 5px;
  margin-top: 10px;
  background-color: whitesmoke;
}

textarea {
  height: 70px;
}

.savebtn {
  align-content: center;
  margin-top: 40px;
  width: 100%;
}

/* CSS for Signup and Login */
.formCentre {
  width: 500px;
  padding:20px 30px;
  background-color: rgb(236, 238, 241);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
  margin: 0 auto;
  height: 50px;
}

.formCentre label {
  font-weight: 450;
  font-size: 16px;
}

.form_Div  {
  padding: 10px;
}

/*CSS for homepage */

.homeCentre {
 /* display: flex;
  height: 400px;
  justify-content: space-around;
  align-items: center; */
  margin: 100px;
  padding: 20px;
  align-content: center;

}

.home_button {
  display: inline-block;
  border-radius: 12px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 25px;
  width: 300px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
  margin-left: 15px;
}

.home_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.home_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.home_button:hover span {
  padding-right: 25px;
}

.home_button:hover span:after {
  opacity: 1;
  right: 0;
}

/*UGPA, Sem-Sum, SSW CSS */

h1 {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border-bottom-style: solid;
  border-color:#ffc82e ;
}

.table {
  width:70%;
  margin-left:20%;
  margin-right:20%;

}
.table tr, .table td, .table th, .table tr, .table td, .table th  {
  border: 1px solid #ddd;
  font-size: 21px;
}


.table th, .labs th {
  background-color: #757373;
  color: white;
}

.table tr:nth-child(odd), .labs tr:nth-child(odd){
  background-color: #f2f2f2;
}

.addCourse-button {
  margin-top:10%;
  margin-left:20%;
  margin-right:20%;
}

.ssw-row, .ugpa-row
{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin: 1% auto;
  font-size: 13px;
}

.sswForm-container, .course-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  width: 55%;
}

.sswForm-container label {
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 5px;
}

h4 {
  font-size: 20px;
  margin-bottom: 25px;
  text-align: left;
}

.ssw-button, .ugpa-button{
  font-size: smaller;
}

.ssw-table{
  margin-right: 3px;
}

.bookclub-table th {
  border-bottom: solid;
  width: 80%;
  margin-right: 20px;

}

.bookclub-table input {
  width:80%;
  margin-left:20px;
  margin-right: 50px;
}

.progress-done {
  border:solid;
}

  .ugpa{
   width: 300%;

  }

.ugpa-grade {
  text-align: right;
  font-size: 15px;
  font-weight: 500;
}

.ugpa-table th{
  font-size: 20px;
  padding-top: 20px;
  border-bottom: solid;
  width: 100%;
}

.checkbox {

  height: 40px;
  width: 40px;
}



/* CSS for Academic Plan */
.academic_details, .academic_plan {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin: 2% auto;
}

.info_label, .planning-result {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  justify-content: space-around;
}

.academic-plan select {
  padding: 10px;
}

.academic-plan th, .academic_plan td {
  margin-top: 10px;

}

/* CSS for Signup and Login */
.formCentre {
  width:500px;
  height:auto;
  padding:20px 30px;
  background-color: rgb(209, 206, 206);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
  margin: 0 auto;
}

/* Lab checkbox */
.lab-label {
  float:left;
  width:10%;
}

.checkbox1 {
  margin-left: 80px;
  height: 35px;
  width: 35px;
}

/* Class CSS */
.grade-remaining {
  text-align: center;
}

