  
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.SignupLoginContainer {
  /*height: 100vh;
  display: flex;
  color: rgb(15, 14, 14);
  justify-content: center;
  align-items: center;*/
  display: flex;
  color: rgb(15, 14, 14);
  justify-content: center;
  align-items: center;
}

.SignupLogin_Form {
  background-color: rgb(236, 238, 241);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
  margin: 0 auto;
  
}

.SignUpLogin_Title{
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.Title_Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.Link_Active{
  color: rgb(12, 13, 14);
  border-bottom: 2px solid #ffc82e;
}

.formCentre {
  margin-bottom: 100px;
}

.form_Div{
  margin-bottom: 40px;
  margin-top: 40px;
}

.form_Div label {
  display: block;
  text-transform: uppercase;
  font-size: 1em;
  color: #707C8B;
}

.form_Div input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: rgb(15, 14, 14);
  outline: none;
  border-bottom: 1px solid #09090a;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.form_Div input::placeholder {
  color: #616E7F;
  font-size: small;
}

.form_button {
  background-color: #004f2e;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: .9em;
  font-weight: 500;
  margin-right: 20px
}

.form_Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
  margin-right: 20px
}

.errorMsg{
  color:red;
  font-size: x-small;
}

/* Home and Learning Css */
/* Home page */
.home {
  position: absolute;
  margin: 0 auto;
  top: 15%;
  right:10%;
  left: 25%;
}
.Home_Button {
  display: inline-block;
  border-radius: 12px;
  background-color: green;
  border: none;
  color: gold;
  text-align: center;
  font-size: 28px;
  padding: 25px;
  width: 200px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
}

.Home_Button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  list-style: none;
  color: gold;
}

.Home_Button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Home_Button:hover a {
  padding-right: 25px;
  color:White;
}

.Home_Button:hover a:after {
  opacity: 1;
  right: 0;
}