  
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* CSS for Signup and Login */
.formCentre {
  width:500px;
  height:auto;
  padding:20px 30px;
  background-color: rgb(209, 206, 206);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
  margin: 0 auto;
}

.form_Fields {
  
}