*{margin: 50; padding:50}
body{
  background-color: grey;
}
.label{
  width:100px;
}
.form-container{
  width:250px;
  heigh:auto;
  padding:20px 30px;
  background-color: orange;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
}
.label{
  Color:white;
  padding: 10px;
  margin: 20px;
  font-family: serif;
  font-size: 24;
  font-style: normal;
  border-radius: 20px;
  background-color: green;
}
.button {
  display: inline-block;
  border-radius: 12px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 25px;
  width: 200px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
